* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #E6001A;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/*** HERO SECTION ***/

.hero-section {
    background: url("../img/screenprinting-bw-paint.jpg") 50% no-repeat;
    background-size: cover;
    min-height: 50vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
    max-width: 80%;
    margin: 0 auto;
}

.hero-section .hero-title {
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.1rem;
    color: #E6001A;
}

.hero-section .hero-description {
    font-family: "Roboto Slab", serif;
}

.content-container {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}


/*** LOCATIONS SECTION ***/

.locations-section {
    margin-top: 2rem;
    text-align: center;
}

.locations-section .section-header h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size: 2.2rem;
}

.locations-section .location-title {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    color: midnightblue;
}

p.location-address {
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.6rem;
    margin: .4rem;
}

p.location-phone {
    font-weight: 700;
    font-size: 1.2rem;
}

.locations-section .location {
    margin: 1rem;
}

.locations-section .location-image {
    max-width: 200px;
    margin: 0 auto;
}


/*** SERVICES SECTION ***/

.services-section {
    background-color: #efefef;
    color: black;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem;
}

.services-section .service {
    padding: 1rem 1rem 0 1rem;
}

.services-section .section-header h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-style: italic;
    text-align: center;
    color: midnightblue;
    font-size: 2.2rem;
}

.services-section .service .service-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    color: #E6001A;
}

.services-section .service .description p {
    font-weight: 300;
}


/** Recent Work Gallery ***/

.example-gallery {}

.example-gallery img {
    max-height: 300px;
    padding: 10px;
}


/*** Contact Form ***/

.floated-label-wrapper {
    position: relative;
}

.floated-label-wrapper label {
    background: #fefefe;
    color: #1779ba;
    font-size: 0.75rem;
    font-weight: 600;
    left: 0.75rem;
    opacity: 0;
    padding: 0 0.25rem;
    position: absolute;
    top: 2rem;
    transition: all 0.15s ease-in;
    z-index: -1;
}

.floated-label-wrapper label input[type=text],
.floated-label-wrapper label input[type=email],
.floated-label-wrapper label input[type=password] {
    border-radius: 4px;
    font-size: 1.75em;
    padding: 0.5em;
}

.floated-label-wrapper label.show {
    opacity: 1;
    top: -0.85rem;
    z-index: 1;
    transition: all 0.15s ease-in;
}

#contact {
    padding: 10px 0 10px;
}

.contact-text {
    margin: 45px auto;
}

.mail-message-area {
    width: 100%;
    padding: 0 15px;
}

.mail-message {
    width: 100%;
    background: rgba(255, 255, 255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin: 0 auto;
    border-radius: 0;
}

.not-visible-message {
    height: 0px;
    opacity: 0;
}

.visible-message {
    height: auto;
    opacity: 1;
    margin: 25px auto 0;
}

.contact {
    padding: 0 1.3rem;
}
.email-status h3 {
    font-size: 1.5rem;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    color: darkblue;
    background-color: #f1f1f1;
    border: 2px solid darkblue;
    padding: 0.8rem;
}